#sliders_old {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.slider_old {
  margin-left: 10px;
}

.slider-name_old {
  transform: rotate(-90deg);
  transform-origin: right 100%;
  margin-top: 5px;
  width: 17px;
}

