#prevImages {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 350px;
  height: 120px;
  display: flex;
  align-items: center;
}

#prevImages img {
  margin-left: 5px;
}

.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}
