*.bak
*.pyc
*.pyo
*.tar.gz
*.webloc
*.swp
*~

.DS_Store
.Python
.project
.pydevproject
.settings
.tmp*

/bin
/build
/lib
/local
/include
/share
/src
/uploads
/node_modules



secret.txt
settings_local.py
settings-*.py



dev.db



editorsnotes/templates/*.txt
/searchindex
topic-list.txt
document-list.txt
fabfile_local.py
vhost-editorsnotes.local.conf
/rdfstore
