*.bak
*.pyc
*.pyo
*.tar.gz
*.log
*~
*.so
*.c
*.db
*.out
*.swp

.DS_Store
.Python
.project
.pydevproject
.settings
.tmp*
.ipynb_checkpoints

/.eggs
/bin
/build
/lib
/local
/include
/share
/src
/static
/old
/media
/upload
/data
/dist
*.egg-info
/*.ipynb
/pip-*