[submodule "xtensor-python"]
	path = xtensor-python
	url = https://github.com/xtensor-stack/xtensor-python.git
[submodule "xtl"]
	path = xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "xtensor"]
	path = xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "CRoaringUnityBuild"]
	path = CRoaringUnityBuild
	url = https://github.com/lemire/CRoaringUnityBuild.git
