*.bak
*.pyc
*.pyo
*.tar.gz
*.log
*~
*.so
*.c
*.db
*.ipynb
*.out

.DS_Store
.Python
.project
.pydevproject
.settings
.tmp*

/bin
/build
/lib
/local
/include
/share
/src
/static
/old
/media
/upload
/data
/dist
*.egg-info
