<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <style> /* set the CSS for the D3 quality graph*/
    path { 
      stroke: steelblue;
      stroke-width: 2;
      /*fill: none;*/
      }
    .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
     }
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
