{% macro navbar(title) %}
<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ url('static', filename='img/progressivis.png')}}"  alt='ProgressiVis Logo'></img></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{ caller() }}
      </ul>
      <button id='start' type="button" class="btn btn-default navbar-btn" aria-label="Start Button">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button id='stop' type="button" class="btn btn-default navbar-btn" aria-label="Stop Button">
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
      </button>
      <button id='step' type="button" class="btn btn-default navbar-btn" aria-label="Step Button">
        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
      </button>
      <button id='run_number' type="button" class="disabled btn btn-default navbar-btn" aria-label="Run number">
        000
      </button>
      <p class="navbar-text"></p>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endmacro %}
