{% extends "_base.html" %}

{% block head %}
  <link href="{{ url_for('progressivis.server.progressivis_file', filename='css/progressivis.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='lib/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/d3.v5.min.js') }}"></script>
  <script src="{{ url_for('progressivis.server.progressivis_file', filename='js/progressivis.js') }}"></script>
  {% block extra_scripts %}
  {% endblock %}
  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    {{ self.script() }}
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    {% from "_navbar.html" import navbar %}
    {% call navbar(title) %}
    <li class="active"><a href="{{ url_for('progressivis.server.index') }}">Home</a></li>
    <li><a href="{{ url_for('progressivis.server.about') }}">About</a></li>
    <li><a href="{{ url_for('progressivis.server.contact') }}">Contact</a></li>
    {% endcall %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
