{% extends "_page_base.html" %}

{% block title %}
Progressivis Server
{% endblock %}

{% block extra_scripts %}
<link  type='text/css' href="{{ url_for('static', filename='css/datatables.min.css') }}"></link>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
<script type="text/javascript" charset="utf8"  src="{{ url_for('progressivis.server.progressivis_file', filename='js/dataframe.js') }}"></script>
{% endblock %}

{% block script %}
module_id = "{{id}}";
dataframe_slot= "{{slot}}";

$(document).ready(dataframe_ready);
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">DataFrame {{id}}/{{slot}}</a></li>
</ol>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class='page-header'>{{title}}</h1>

  <div id='error'></div>

<div><table id='dataframe' class='dataframe display' cellspacing="0" width="100%"></table></div>


{% endblock %}
