{% extends "_page_base.html" %}

{% block title %}
Histogram for module {{id}}
{% endblock %}

{% block head %}
  {{ super() }}
  <link href="{{ url_for('progressivis.server.progressivis_file', filename='css/histogram1d.css') }}" rel="stylesheet">
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/line_graph.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/module.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/histogram1d.js') }}"></script>
{% endblock %}

{% block script %}
var module_id = "{{id}}";
$(document).ready(histogram1d.ready);
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Histogram {{id}}</a></li>
</ol>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class='page-header'>Histogram for Module {{id}}</h1>

  <div id='error'></div>

<!-- Nav tabs -->
  <ul id='nav-tabs' class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#histopanel" aria-controls="histogram" role="tab" data-toggle="tab">Histogram</a></li>
    <li role="presentation"><a href="#module" aria-controls="module" role="tab" data-toggle="tab">Module</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="histopanel">
      <div id='histogram1d'>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="module"><div id='module'></div></div>
  </div>
<div>
</div>


{% endblock %}
