<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Index page for Progresssive">
    <meta name="author" content="Jean-Daniel Fekete">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Progressive</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="{{ static_url('progressivis.css')}}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Progressive</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
	    <li class="dropdown" id="workflow-menu">
              <a id="worflows" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Workflows
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="workflows">
		{% for workflow in workflows %}
		<li class="active">Select...</li>
                <li><a href="#" alt="{{escape(workflow)}}">{{escape(workflow) }}</a></li>
		{% end %}
              </ul>
            </li>
            <li><a href="{{reverse_url('workflow:status')}}">Workflow</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
	  <p id='workflow-name' class="navbar-text navbar-right">No workflow loaded</p>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="progressivis">
        <h1>Progressive Analytics and Visualization</h1>
        <p class="lead">Analyze, explore, and visualize your large and complex data in a progressive way.</p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
function highlight_ok(li, w) {
      $(li).css("background-color", "green");
      $('#workflow-menu').effect("highlight", {color: 'green'});
      $('#workflow-name').text('Loaded workflow: '+w);
}
function highlight_nok(li) {
      $(li).css("background-color", "red");
      $('#workflow-menu').effect("highlight", {color: 'red'});
}
$(window).load(function() {
      $(function(){
	  $(".dropdown-menu").on("click", "li", function(event){
	      event.preventDefault();
	      console.log("You clicked the drop downs", event);
	      if (this.firstChild.tagName!='A') return;
	      var li = this, w = li.firstChild.getAttribute("alt");
	      $.ajax({url: "{{reverse_url('api:workflow:load')}}",
		      method: 'POST',
		      data: {param: w}})
		  .done(function(res) { highlight_ok(li, w); })
		  .fail(function(xhr,status,error) { highlight_nok(li, w); });
	  })
      });
      });
</script>
  </body>
</html>
