{% extends "_page_base.html" %}

{% block title %}
Progressivis Logger
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/logger.js') }}"></script>
{% endblock %}

{% block script %}
$(document).ready(logger_ready);
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Logger</a></li>
</ol>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class='page-header'>{{title}}</h1>

  <div id='error'></div>

<div>
  <div id='Log'></div>
  <div id='Loggers'>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
	<tr><th>Module</th><th>Level</th></tr>
      </thead>
      <tbody>
        {% for item in loggers %}
        <tr>
          <td>{{ item.module }}</td>
          <td>
            <input type="radio" name="level-{{ loop.index }}" title="None" id="level-NOTSET-{{ loop.index }}" value="None">
            <input type="radio" name="level-{{ loop.index }}" title="Debug" id="level-DEBUG-{{ loop.index }}" value="Debug">
            <input type="radio" name="level-{{ loop.index }}" title="Info" id="level-INFO-{{ loop.index }}" value="Info">
            <input type="radio" name="level-{{ loop.index }}" title="Warn" id="level-WARN-{{ loop.index }}" value="Warn">
            <input type="radio" name="level-{{ loop.index }}" title="Error" id="level-ERROR-{{ loop.index }}" value="Error">
            <input type="radio" name="level-{{ loop.index }}" title="Fatal" id="level-FATAL-{{ loop.index }}" value="Fatal">
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

  </div>
</div>

</div>

{% endblock %}
