{% extends "_page_base.html" %}

{% block title %}
MC Scatterplot for module {{id}}
{% endblock %}

{% block head %}
  {{ super() }}
<link href="{{ url_for('progressivis.server.progressivis_file', filename='css/scatterplot.css') }}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='lib/chroma.min.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/line_graph.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/module.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/history.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='lib/multiclass-density-maps.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/multiclass2d.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/colormaps.js') }}"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
{% endblock %}

{% block script %}
var module_id = "{{id}}";
$(document).ready(multiclass2d_ready);
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">MC Scatterplot {{id}}</a></li>
</ol>

<!--div id="witnessHeatmap" style="width:512px; height:512px;"><img>img...</img></div-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class='page-header'>MC Scatterplot for Module {{id}}</h1>

  <div id='error'></div>

<!-- Nav tabs -->
  <ul id='nav-tabs' class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#scatterpanel" aria-controls="scatterpanel" role="tab" data-toggle="tab">MC Scatterplot</a></li>
    <li role="presentation"><a href="#module" aria-controls="module" role="tab" data-toggle="tab">Module</a></li>
  </ul>

{% include 'mdm_tab_panes.html' %}  

{% endblock %}
