{% extends "_page_base.html" %}

{% block title %}
MC Scatterplot for module {{id}}
{% endblock %}

{% block head %}
  {{ super() }}
<link href="{{ url_for('progressivis.server.progressivis_file', filename='css/scatterplot.css') }}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='lib/chroma.min.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/line_graph.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/module.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/history.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='lib/multiclass-density-maps.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='lib/heatmap.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/heatmap-img.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/multiclass2d.js') }}"></script>
<script src="{{ url_for('progressivis.server.progressivis_file', filename='js/colormaps.js') }}"></script>
<!--script src="{{ url_for('progressivis.server.progressivis_file', filename='lib/DragDrop/drag-drop.js') }}"></script-->

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
{% endblock %}

{% block script %}
var module_id = "{{id}}";
$(document).ready(multiclass2d_ready);
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">MC Scatterplot {{id}}</a></li>
</ol>
<!--div id="witnessHeatmap" style="width:512px; height:512px;"><img>img...</img></div-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class='page-header'>MC Scatterplot for Module {{id}}</h1>

  <div id='error'></div>

<!-- Nav tabs -->
  <ul id='nav-tabs' class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#scatterpanel" aria-controls="scatterplot" role="tab" data-toggle="tab">MC Scatterplot</a></li>
    <li role="presentation"><a href="#module" aria-controls="module" role="tab" data-toggle="tab">Module</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="scatterpanel">
      <div id='multiclass_scatterplot'>
        <svg>
          <filter id="gaussianBlur" width="100%" height="100%" x="0" y="0">
            <feGaussianBlur id="gaussianBlurElement" in="SourceGraphic" stdDeviation="0" />
            <feComponentTransfer id="colorMap">
              <feFuncR type="table" tableValues="1 1 1"/>
              <feFuncG type="table" tableValues="0.93 0.001 0"/>
              <feFuncB type="table" tableValues="0.63 0.001 0"/>
            </feComponentTransfer>
          </filter>          
        </svg>
        <br/>
        <div class="form-inline">
          <button class='btn btn-default' id='filter' type="button" aria-label='Filter button'>Filter to viewport</button>
          <div class="form-group">
            <label>Blur radius</label>
            <input class="form-control" id="filterSlider" type="range" value="0" min="0" max="5" step="0.1"></input>
          </div>
          <div class="form-group">
            <label>Color map</label>
            <select id="colorMapSelect" class="form-control"></select>
          </div>
          <div class="form-group">
            <a href="#modal-mdm-form" role="button" class="btn btn-large btn-default" data-toggle="modal">
              Configure ...
            </a>       
          </div>          
          <div class="form-group">
            <label>History</label>
            <span class="form-control" id="prevImages"></span>
          </div>
          
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="module"><div id='module'></div></div>
  </div>
  <div id="heatmapContainer" style="width:512px; height:512px;visibility: hidden;"></div>

    <!-- Modal MDM form -->

    <div id="modal-mdm-form" class="modal fade">

        <div class="modal-dialog modal-sm">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Multiclass Density Map Editor</h4>

                </div>

                <div class="modal-body">
                  <div id="root"></div>
                  <div id='map-legend'></div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>

    </div>
  
    <script type="text/babel">
      function getOnly(dict, keys){
      var res = {};
      keys.forEach((e)=>{res[e] = dict[e]})
      return res
      }
    function renderSelect(val, opts, chg){
        let k;
        return (<select  className="form-control" value={val} onChange={chg}>
            {Object.keys(opts).map((k, _)=>{return <option value={k}>{opts[k]}</option>})}
            </select>)
    }
    function renderHeader(title, label, dict, val, handler){
        return (<div><h4>{title}</h4><div className="form-group"> <label>{label}&nbsp;</label>{renderSelect(val, dict, handler)}</div></div>)
    }
    function renderNamedSelect(label, dict, val, handler){
        return (<div><label>{label}&nbsp;</label><div>{renderSelect(val, dict, handler)}</div></div>)
    }

    function renderInput(label, type, name, val, handler){
        return (<div><label>{label}&nbsp;</label><div> <input value={val} name={name} type={type} onChange={handler}/></div></div>)
    }

    class Rebin extends React.Component {
        constructor(props) {
            super(props);
            this.handleChange = this.handleChange.bind(this);
        }
        handleChange(key) {
            return (val) => {this.props.handleChange(key, val);};
        }
        render(){
            let typeDict = {none: "None", square: "Square", rect: "Rect", voronoi: "Voronoi"};
            let rebinType = this.props.value['type'];
            let res = [renderHeader("Rebin", "Type", typeDict, rebinType , this.handleChange('type'))];
            if (rebinType=="none") return  (<div>{res}</div>);
            let aggrDict = {max: 'Max', mean:'Mean', sum: 'Sum', min: 'Min'};
            res.push(renderNamedSelect("Aggregate", aggrDict, this.props.value['aggregation']  , this.handleChange('aggregation')));
            //renderInput(label, type, name, val, handler)
            if(rebinType=="square") {
                res.push(renderInput("Size", "number", "rebinSize",this.props.value['size'] , this.handleChange('size')))
            };
            if(rebinType=="rect") {
                res.push(renderInput("Width", "number", "rebinWidth",this.props.value['width'] , this.handleChange('width')))
                res.push(renderInput("Height", "number", "rebinHeight",this.props.value['height'] , this.handleChange('height')))
            };
            if(rebinType=="voronoi") {
                res.push(renderInput("Size", "number", "rebinSize",this.props.value['size'] , this.handleChange('size')))
                res.push(renderInput("Stroke", "text", "rebinStroke",this.props.value['stroke'] , this.handleChange('stroke')))
            };
            return  (<div>{res}</div>);
        }
    }
    class Rescale extends React.Component {
        constructor(props) {
            super(props);
            this.handleChange = this.handleChange.bind(this);
        }
        handleChange(key) {
            return (val) => {this.props.handleChange(key, val);};
        }
        render(){
            let typeDict = {linear: "Linear",
                log: "Log", sqrt: "Square Root",
                cbrt:"Cubic Root", equidepth: "Equi-depth"};
            let rescaleType = this.props.value['type'];
            let res = [renderHeader("Rescale", "Type", typeDict, rescaleType , this.handleChange('type'))];
            if(rescaleType == 'equidepth'){
                res.push(renderInput("Size", "number", "rescaleLevels",this.props.value['levels'] , this.handleChange('levels')))
            }
            return  (<div>{res}</div>);
       }
     }

    class Compose extends React.Component {
        constructor(props) {
            super(props);
            this.handleChange = this.handleChange.bind(this);
        }
        handleChange(key) {
            return (val) => {this.props.handleChange(key, val);};
        }
        render(){
            let compDict = {none: "none", invmin: "Invmin", mean: "Mean", max: "Max",
                    blend: "Blend", weaving: "Weaving", /*propline: "Propline",
                    hatching: "Hatching",*/ separate: "Separate", glyph: "Glyph",
                    dotdensity: "Dotdensity", time: "Time"};
            let compValue = this.props.value['mix'];
            let res = [renderHeader("Compose", "Mix", compDict, compValue, this.handleChange('mix'))];
            if(compValue in ["none", "mean", "max", "separate"]) return  (<div>{res}</div>);
            if(compValue == "invmin"){
                res.push(renderInput("Threshold", "number", "compThreshold",this.props.value['threshold'] , this.handleChange('threshold')))
            }
            if(compValue == "blend"){
                let mixingDict = {additive: "Additive", multiplicative: "Multiplicative"};
                res.push(renderNamedSelect("Mixing", mixingDict, this.props.value['mixing']  , this.handleChange('mixing')));
            }
            if(compValue == "weaving"){
                let weavingDict = {square: "Square", random: "Random", hexagon: "Hexagon", triangle: "Triangle"};
                res.push(renderNamedSelect("Weaving", weavingDict, this.props.value['weaving']  , this.handleChange('weaving')));
                res.push(renderInput("Size", "number", "compSize",this.props.value['size'] , this.handleChange('size')));
            }
            if(compValue == "glyph"){
                let templDict = {punchcard: "punchcard", bars: "bars"};
                res.push(renderNamedSelect("Template", templDict, this.props.value['template']  , this.handleChange('glyph')));
                res.push(renderInput("Width", "number", "compWidth",this.props.value['width'] , this.handleChange('width')));
                res.push(renderInput("Height", "number", "compHeight",this.props.value['height'] , this.handleChange('height')));
            }
            if(compValue == "dotdensity"){
                res.push(renderInput("Size", "number", "compSize",this.props.value['size'] , this.handleChange('size')))
            }
            if(compValue == "time"){
                res.push(renderInput("Interval(s)", "number", "compInterval",this.props.value['interval'] , this.handleChange('interval')))
            }
            return  (<div>{res}</div>);





       }
    }
      
   class ConfigForm extends React.Component {
      constructor(props){
          super(props);
          this.handleRebin = this.handleRebin.bind(this);
          this.handleRescale = this.handleRescale.bind(this);
          this.handleCompose = this.handleCompose.bind(this);
          this.handleGrp = this.handleGrp.bind(this);
          this.tidy = this.tidy.bind(this);
          this.state = {rebin: {type: "none", aggregation: "max", size: 4, width: 4, height: 4, stroke: 'rgba(0, 0, 0, .1)'}, rescale: {type: "cbrt", levels: 4}, compose: {mix: "max", threshold: 1, size: 8, width: 32, height: 32, mixing:"additive", shape: "square", template: "punchcard", interval: 0.6}, data: {}, legend: true};
      }
      handleGrp(grp, key, evt){
          let stateCopy = Object.assign({}, this.state);
          stateCopy[grp][key] = evt.target.value;
          this.setState(stateCopy);
          window.spec = this.tidy(Object.assign({}, stateCopy));
      };
      handleRebin(key, val){return this.handleGrp('rebin', key, val);};
      handleRescale(key, val){return this.handleGrp('rescale', key, val);};
      handleCompose(key, val){return this.handleGrp('compose', key, val);};
      renderRebin(){
          return (<Rebin value={this.state.rebin} handleChange={this.handleRebin}/>)
      }
      renderRescale(){
          return (<Rescale value={this.state.rescale} handleChange={this.handleRescale}/>)
      }
      renderCompose(){
          return (<Compose value={this.state.compose} handleChange={this.handleCompose}/>)
      }
      tidy(){
          let stateCopy = Object.assign({}, this.state);
          // Rebin
          if(stateCopy.rebin.type == 'none') stateCopy.rebin = {type: 'none'};
          if(stateCopy.rebin.type == 'rect') stateCopy.rebin = getOnly(stateCopy.rebin, ['type', 'aggregation', 'width', 'height']);
          if(stateCopy.rebin.type == 'square') stateCopy.rebin = getOnly(stateCopy.rebin, ['type', 'aggregation', 'size']);
          if(stateCopy.rebin.type == 'voronoi') stateCopy.rebin = getOnly(stateCopy.rebin, ['type', 'aggregation', 'size', 'stroke']);
          // Rescale
          if(stateCopy.rescale.type != 'equidepth') stateCopy.rescale = getOnly(stateCopy.rescale, ['type']);
          // Compose
          if(stateCopy.compose.mix in ["none", "mean", "max", "separate"]) stateCopy.compose = getOnly(stateCopy.compose, ['mix']);
          if(stateCopy.compose.mix == 'invmean') stateCopy.compose = getOnly(stateCopy.compose, ['mix', 'threshold']);
          if(stateCopy.compose.mix == 'blend') stateCopy.compose = getOnly(stateCopy.compose, ['mix', 'mixing']);
          if(stateCopy.compose.mix == 'weaving') stateCopy.compose = getOnly(stateCopy.compose, ['mix', 'size']);
          if(stateCopy.compose.mix == 'glyph') stateCopy.compose = getOnly(stateCopy.compose, ['mix', 'template', 'width', 'height']);
          if(stateCopy.compose.mix == 'dotdensity') stateCopy.compose = getOnly(stateCopy.compose, ['mix', 'size']);
          if(stateCopy.compose.mix == 'time') stateCopy.compose = getOnly(stateCopy.compose, ['mix', 'interval']);
          return stateCopy;
      }
     render() {
        window.spec = this.tidy();
      return (<form>
        {this.renderRebin()}
        {this.renderRescale()}
        {this.renderCompose()}
        <div hidden>{JSON.stringify(this.tidy())}</div>
      </form>)
      }
    }
    ReactDOM.render(
    <ConfigForm />, 
    document.getElementById("root")
    );
    $("#modal-mdm-form").draggable({
        handle: ".modal-header"
    });
    </script>
  
{% endblock %}
