name: Typing Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  run:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    - name: Run mypy
      run: |
        python -m pip install -r requirements_typing.txt
        echo "__version__ = version = '$(python -m setuptools_scm)'" > progressivis/_version.py
        mypy --strict progressivis/ tests/
